*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, salmon, peachpuff);
}

.container{
    display: grid;
    grid-template-rows: 1fr 5fr;
    
}

.top{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
}

.top-button{
    grid-column: 2;
}

.bottom{
    margin-top: 2rem;
    padding: 1rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    justify-content: center;
}

.content-card{
    border: 2px solid white;
    padding: 1rem;
}

.content-card2{
    border: 2px solid white;
    padding: 1rem;
  
}


#addBookDialog::backdrop {
    background: rgb(0, 0, 0 / .4);
    
}

#addBookDialog {
 
  justify-self: center;  
  align-self: center;
  width: 50%;
  padding: 2rem;
  max-width: 50ch;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

form {

  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
}

/* Input field styles */
  input[type="text"],
  input[type="number"] {

  border: 1px solid #ddd;  /* Light border for input */
  border-radius: 5px;
  padding: .5rem;
  font-size: 1rem;
  width: 100%;             /* Make inputs fill available space */
  transition: border-color 0.3s ease;
}

#addBookDialog button {
    margin-top: .2rem; /* Adjust this value as needed */
    background-image: linear-gradient(to right, salmon, orange);
    width: 20%;
    height: 2rem;
    border: none;
    border-radius: 10px;
}

.read-button,
.delete-button{
   
    width: 20%;
    height: 30%;

    margin-top: 1rem;
}


